<%= form_for(@diagnostic) do |f| %>
  <% if @diagnostic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnostic.errors.count, "error") %> prohibited this diagnostic from being saved:</h2>

      <ul>
      <% @diagnostic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.number_field :diagnostic_id %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_code %><br>
    <%= f.text_field :diagnostic_code %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_charge %><br>
    <%= f.text_field :diagnostic_charge %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
