<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic:</strong>
  <%= @diagnostic.diagnostic_id %>
</p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @diagnostic.diagnostic_code %>
</p>

<p>
  <strong>Diagnostic charge:</strong>
  <%= @diagnostic.diagnostic_charge %>
</p>

<% if can? :update, @diagnostic %>
    <%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<% end %>
<%= link_to 'Back', diagnostics_path %>
