<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Appointment ID</th>
      <th>Appointment Date/Time</th>
      <th>Patient Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.appointment_id %></td>
        <td><%= invoice.appointment.appointment_date %></td>
        <td><%= invoice.appointment.patient.patient_last_name %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
