<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment ID:</strong>
  <%= @invoice.appointment_id %>
</p>

<p>
  <strong>Appointment Date/Time:</strong>
  <%= @invoice.appointment.appointment_date %>
</p>

<p>
  <strong>Patient Last Name:</strong>
<%= @invoice.appointment.patient.patient_last_name %>
</p>

<p>
  <strong>Physician Last Name:</strong>
  <%= @invoice.appointment.physician.physician_last_name %>
</p>

<p>
  <strong>Diagnostic Code:</strong>
  <%= @invoice.appointment.diagnostic.diagnostic_code %>
</p>

<p>
  <strong>Diagnostic Charge:</strong>
  <%= @invoice.appointment.diagnostic.diagnostic_charge %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
