<p id="notice"><%= notice %></p>

<p>
  <strong>Physician:</strong>
  <%= @physician.physician_id %>
</p>

<p>
  <strong>Physician last name:</strong>
  <%= @physician.physician_last_name %>
</p>

<p>
  <strong>Physician first name:</strong>
  <%= @physician.physician_first_name %>
</p>

<% if can? :update, @physician %>
    <%= link_to 'Edit', edit_physician_path(@physician) %> |
<% end %>

<%= link_to 'Back', physicians_path %>
