<%= form_for(@completed_appointment) do |f| %>
  <% if @completed_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@completed_appointment.errors.count, "error") %> prohibited this completed_appointment from being saved:</h2>

      <ul>
      <% @completed_appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_id %><br>
    <%= f.collection_select :appointment_id, Appointment.all,:id,:appointment_id, {}, {:multiple => true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
