<h1>Previously Generated Reports</h1>

<table>
  <thead>
    <tr>
      <th>Appointment ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_appointments.each do |completed_appointment| %>
      <tr>
        <td><%= completed_appointment.appointment_id %></td>
        <td><%= link_to 'Show', completed_appointment %></td>
        <td><%= link_to 'Edit', edit_completed_appointment_path(completed_appointment) %></td>
        <td><%= link_to 'Destroy', completed_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_completed_appointment_path %>
