<p id="notice"><%= notice %></p>

<p>
  <strong>Physician Last Name:</strong>
  <%= @completed_appointment.appointment.physician.physician_last_name %>
</p>

<p>
  <strong>Appointment ID:</strong>
  <%= @completed_appointment.appointment_id %>
</p>

<p>
  <strong>Appointment Date/Time:</strong>
  <%= @completed_appointment.appointment.appointment_date %>
</p>

<p>
  <strong>Diagnostic Charge:</strong>
  <%= @completed_appointment.appointment.diagnostic.diagnostic_charge %>
</p>

<%= link_to 'Edit', edit_completed_appointment_path(@completed_appointment) %> |
<%= link_to 'Back', completed_appointments_path %>
