<br><br>
<h1>Welcome!</h1>
<br><br>

<% if can? :manage, @invoice %>
<p><%= link_to "Generate Invoice", invoices_path %></p>
<% end %>

<% if can? :manage, @completed_appointment %>
<p><%= link_to "Physician Invoice Summary Report", completed_appointments_path %></p>
<% end %>
