<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @patient.patient_id %>
</p>

<p>
  <strong>Patient last name:</strong>
  <%= @patient.patient_last_name %>
</p>

<p>
  <strong>Patient first name:</strong>
  <%= @patient.patient_first_name %>
</p>

<% if can? :update, @patient %>
    <%= link_to 'Edit', edit_patient_path(@patient) %> |
<% end %>

<%= link_to 'Back', patients_path %>
