<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_id %><br>
    <%= f.number_field :appointment_id %>
  </div>
  <div class="field">
    <%= f.label :appointment_date %><br>
    <%= f.datetime_select :appointment_date %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select :patient_id,Patient.all,:id,:patient_last_name %>
  </div>
  <div class="field">
    <%= f.label :physician_id %><br>
    <%= f.collection_select :physician_id,Physician.all,:id,:physician_last_name %>
  </div>
  <div class="field">
    <%= f.label :reason_for_appointment %><br>
    <%= f.text_field :reason_for_appointment %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.collection_select :diagnostic_id,Diagnostic.all,:id,:diagnostic_code %>
  </div>
  <div class="field">
    <%= f.label :physician_note %><br>
    <%= f.text_field :physician_note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
