<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Appointment date</th>
      <th>Patient</th>
      <th>Physician</th>
      <th>Reason for appointment</th>
      <th>Diagnostic</th>
      <th>Physician note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_id %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= appointment.physician_id %></td>
        <td><%= appointment.reason_for_appointment %></td>
        <td><%= appointment.diagnostic_id %></td>
        <td><%= appointment.physician_note %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <% if appointment.appointment_date - Time.now >= 8 %>
            <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
