<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @appointment.appointment_id %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician_id %>
</p>

<p>
  <strong>Reason for appointment:</strong>
  <%= @appointment.reason_for_appointment %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic_id %>
</p>

<p>
  <strong>Physician note:</strong>
  <%= @appointment.physician_note %>
</p>

<% if can? :update, @appointment %>
    <%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<% end %>
<%= link_to 'Back', appointments_path %>
