<!DOCTYPE html>
<html>
<head>
  <title>CIS4339IndividualProject</title>
  <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper"><!-- #wrapper -->

  <header><!-- header -->

    <h2>Blue Clinic</h2>
  </header><!-- end of header -->

  <br>
  <br>
  <br>

  <nav><!-- top nav -->
    <div class="menu">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Appointments", appointments_path %></li>
        <li><%= link_to "Patients", patients_path %></li>
        <li><%= link_to "Physicians", physicians_path %></li>
        <li><%= link_to "Diagnostic Codes", diagnostics_path %></li>

        <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav><!-- end of top nav -->


  <%= yield %>



  </aside><!-- end of sidebar -->


</div><!-- #wrapper -->

</body>
</html>
